<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat Site</title>
</head>
<body>
    <h1>My Chat Site</h1>
    <br />
    <form action="/chats" method="post">
        <input type="text" name="from" id="" placeholder="From"> <br><br>
        <textarea name="msg" id="" cols="30" rows="10" placeholder="Enter your Message ..."></textarea><br><br>
        <input type="text" name="to" id="" placeholder="Whom"><br><br>

        <button>Create chat</button>
    </form>


</body>
</html>